/* BASIC -------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(164, 190, 123); /*light green*/
  font-family: 'Poppins', sans-serif;
  margin: 0rem;
  padding: 0;
}

p {
  color: rgb(26, 18, 11); /*dark dark brown*/
}

h1 {
  font-family: 'Unbounded', cursive;
  color: rgb(229, 229, 203); /*dark green*/
}

h2 {
  color: rgb(95, 141, 78); /*green*/
}

.light {
  color: rgb(229, 229, 203);
}

/* NAV BAR ------------------------------------------------------------------ */
.nav {
  border-radius: 10px;
  display: none;
}

nav {
  margin: .7rem;
}

ul.nav {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
  overflow: hidden;
  background-color: #285430;
}

li.nav {
  float: left;
}

li.nav a {
  display: block;
  color: #E5D9B6;
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}

li.nav a:hover {
  background-color:rgb(95, 141, 78);
}

#hamburger-menu a {
  color: #285430;
  font-size: 2.5rem;
  margin-left: .5rem;
}

/* PROFILE CSS -------------------------------------------------------------- */
.artwork {
  width: 400px;
  height: 300px;
}

/* ABOUT PAGE ------------------------------------------------------------------ */
.box {
  width: auto;
  border: 15px solid green;
  padding: 5rem;
  box-align: center;
  margin: 20px;
  align-self: center;

}


/* SEARCH BAR IN HTML PAGE ------------------------------------------------------ */
input[type=text] {
  width: 150px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

/* When the input field gets focus, change its width to 80% */
input[type=text]:focus {
  width: 80%;
}

header {
  margin: 0 20px;
}

#img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 0 0 0;
}

/* GALLERY CSS -------------------------------------------------------------- */
#gallery-card-container {
  background-color: rgb(164, 190, 123);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 0 0 0;
}

img {
  height: 200px;
}

.gallery-card {
  background-color: rgb(95, 141, 78);
  margin: .5rem;
  padding: 0 0 0 0;
  flex: 0 0 100px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(31, 66, 37);
}

section.gallery-card p {
  color: white;
  text-align: center;
}

/* PROFILE CSS ---------------------------------------=-------------------------- */
#profile-section {
  padding-left: 5rem;
}

.artwork {
  width: 400px;
  height: 300px;
}

.profilepicture{
  width: 400px;
  height: 300px;
}

/* FOOTER CSS ------------------------------------------------------------------- */
footer {
  padding-top: 1rem;
  font-size: 80%;
  padding-left: 1rem;
}

/* ABOUT ARTIST MESSAGE --------------------------------------------------------- */

section {
  margin: .5rem 0;
  padding-left: 1rem;
}

button {
  margin: .5rem 0;
  padding: .5rem 1rem;
}


/* Media Queries */

@media (min-width: 768px) {
  /* Rules for screens 598 px or wider */
  #hamburger-menu a {
    display: none;
  }

  .nav {
    display: block;
  }

  body {
    background-color: rgb(229, 217, 182); /*tan*/
  }

  h1 {
    color: rgb(40, 84, 48); /*dark green*/
  }
}